name: Translate Plugins

on:
  workflow_dispatch:
#  schedule:
#    - cron: '0 0 * * *' # 每天 UTC 0 點

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          persist-credentials: true
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.12'
      - name: Install dependencies
        run: pip install requests
      - name: Run translation script
        run: python translate_plugins.py
      - name: Commit & Push
        run: |
          git config user.name "GitHub Action"
          git config user.email "action@github.com"
          git add Hans/**/* Hant/**/*
          git add dict_string.json dict_url.json
          git commit -m "繁化更新" || echo "No changes to commit"
          git push
